.form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 50px;
	z-index: 99;
	box-shadow: 0px 0px 65px 0px rgba(213, 213, 213, 0.35);
	transition: .3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	transition: .7s cubic-bezier(.32,-0.25,.63,1.27);
	border-radius: 15px;
}

.form--sign-in,
.form--sign-up {
	transform: translate(-50%, -1000px);
}

.form--sign-in-show,
.form--sign-up-show {
	transform: translate(-50%, -50%);
}

.login-wrap,
.pass-wrap,
.email-wrap {
	position: relative;
	margin-bottom: 40px;
}

.login,
.pass,
.email--form {
	padding: 15px 20px;
	border: 1px solid #2cd39a;
	border-radius: 26px;
	background: none;
	font-family: 'Proxima Nova Regular', sans-serif;
	font-weight: 400;
}

.login-text,
.pass-text,
.email-text {
	position: absolute;
	left: 20px;
	top: 15px;
	transition: .3s;
	pointer-events: none;
	font-family: 'Proxima Nova Light', sans-serif;
	font-weight: 300;
}

.login-text--full {
	top: -20px;
	font-size: .8rem;
}

// .login:focus + .login-text,
// .pass:focus + .pass-text {
// 	top: -20px;
// 	font-size: .8rem;
// }

// .login:not([value=""]):not(:focus):invalid + .login-text,
// .pass:not([value=""]):not(:focus):invalid + .pass-text {
// 	top: -20px;
// 	font-size: .8rem;
// }

.btn--form:hover {
	box-shadow: inset 0 0 0 1px rgba(44, 211, 154, .3);
	color: #2d3b3e;
}


.close {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 99;
	border-radius: 50%;
	border: 1px solid rgba(44, 211, 154, .3);
	color: #fff;
	background: linear-gradient(to right, rgb(170, 226, 56), rgb(43, 211, 155));
	cursor: pointer;
}
