
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: linear-gradient(to right,#aae238,#2bd39b);
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader--hide {
  transform: translateY(-100%);
}

.preloader__anim {
  display: flex;
  align-items: center;
}

.preloader__anim-item {
  border: 5px solid #fff;
  border-radius: 50%;
}

.preloader__anim-item:not(:last-child) {
  margin-right: 10px;
}

.preloader__anim-item--1 {
  animation: 7s anim infinite;
}

.preloader__anim-item--2 {
  animation: 7s anim 1s infinite;
}

.preloader__anim-item--3 {
  animation: 7s anim 2s infinite;
}

.preloader__anim-item--4 {
  animation: 7s anim 3s infinite;
}

.preloader__anim-item--5 {
  animation: 7s anim 4s infinite;
}

@keyframes anim {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 30px;
    width: 30px;
  }
  100% {
    height: 0;
    width: 0;
  }
}